---
layout: default
title: Bloomberg FIRST (FRC) Manual
excerpt: "Landing Page for BB FRC Development Program"
search_omit: true
---
<div class="blurb">
	<h1>Welcome to Bloomberg's FIRST (FRC) Development Program</h1>
	<p><em>Students</em> start <a href="getting-started">here.</a></p>
	<p><em>Mentors</em> start <a href="onboarding">here.</a></p>
	
	<p> Helpful Links </p>
	<ul>
	  <li><a href="bom">Parts List</a></li>
	  <li><a href="toc">Table of Contents</a></li>
	</ul>
</div><!-- /.blurb -->

<ul class="post-list">
{% for post in site.posts limit:10 %}
  <li><article><a href="{{ site.url }}{{ post.url }}">{{ post.title }} <span class="entry-date"><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %d, %Y" }}</time></span>{% if post.excerpt %} <span class="excerpt">{{ post.excerpt | remove: '\[ ... \]' | remove: '\( ... \)' | markdownify | strip_html | strip_newlines | escape_once }}</span>{% endif %}</a></article></li>
{% endfor %}
</ul>
