<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
{% include head.html %}
</head>

<body id="page">

{% include navigation.html %}

<div id="main" role="main">
  <article class="entry">
    <div class="entry-wrapper">
      <header class="entry-header">
        <h1 class="entry-title">{% if page.headline %}{{ page.headline }}{% else %}{{ page.title }}{% endif %}</h1>
      </header>
		{{ content }}
        <ul class="entry-tags">
          {% for tag in page.tags %}<li><a href="{{ site.url }}/tags/#{{ tag }}" title="Pages tagged {{ tag }}">{{ tag }}</a></li>{% endfor %}
        </ul>
      <div class="entry-content">
        {% for mentor in site.data.mentors %} 
			{% if mentor.avatar contains 'http' %}
			  <img src="{{ mentor.avatar }}" class="bio-photo" alt="{{ mentor.name }} bio photo"/>
			{% elsif mentor.avatar %}
			  <img src="{{ site.url }}/images/{{ mentor.avatar }}" class="bio-photo" alt="{{ mentor.name }} bio photo"/>
			{% endif %}
			<span class="mentor vcard">By <span class="fn">{{ mentor.name }}</span></span>
		{% endfor %}
      </div><!-- /.entry-content -->
    </div><!-- /.entry-wrapper -->
  </article>
</div><!-- /#main -->

<div class="footer-wrapper">
  <footer role="contentinfo" class="entry-wrapper">
    {% include footer.html %}
  </footer>
</div><!-- /.footer-wrapper -->

{% include scripts.html %}

</body>
</html>